.overview {
  border-radius: 10px;
  background: radial-gradient(
    592px at 48.2% 50%,
    rgba(255, 255, 249, 0.6) 0%,
    rgb(160, 199, 254) 74.6%
  );
  padding: 100px 20px;
  margin: 1px;
  width: 100%;
}
h1 {
  margin-top: -30px;
  font-size: 60px;
  color: #00008b;
  padding: 20px;
}
h2 {
  font-size: 45px;
  color: #00008b;
  padding: 25px;
  margin-top: -60px;
}
h3 {
  margin-left: 80px;
  color: #00008b;
  font-weight: bold;
  opacity: 0.6;
}

ul {
  list-style: none;
  font-size: 25px;
  color: darkblue;
}
.fa-solid {
  color: yellow;
  font-size: 80px;
  display: flex;
  align-self: center;
  vertical-align: middle;
  margin-block-end: auto;
  margin-block-start: auto;
  transform: scale(0.8);
}
.fa-cloud-rain {
  color: blue;
}
.fa-cloud {
  color: blue;
  font-size: 200px;
}
.weather-forecast-date {
  text-align: center;
  color: darkblue;
  font-weight: bolder;
  opacity: 0.7;
}
.weather-forecast-temp {
  text-align: center;
  color: darkblue;
  font-weight: bolder;
  opacity: 0.7;
}
p {
  font-weight: bold;
  font-size: 25px;
  color: #00008b;
  padding: 30px;
  margin-top: -40px;
}
.col-2 {
  background: rgb(179, 212, 233);
  position: relative;
  top: 35px;
}
form {
  position: relative;
  top: -60px;
  left: 10px;
}
input {
  opacity: 0.5;
}

body {
  transform: scale(0.75);
}
.form-control {
  width: 100%;
  height: 55px;
}
.btn {
  height: 55px;
  width: 45%;
}
.col-4 {
  padding: 40px;
}
.contact-btn {
  text-decoration: none;
}
h4 {
  text-align: center;
  font-size: 18px;
  opacity: 0.7;
  padding: 14px;
}
.btn-primary {
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
